header {
    flex-direction: column;
}

.navbar ul {
    padding: 5px;
}

.navbar ul li {
    margin: 10px 10px;
}

#frm {
    width: 80%;
}

.maindiv h1 {
    font-size: 35px;
}

#offerhead {
    font-size: 40px;
}

.offer h2 {
    font-size: 35px;
}

.offer span {
    font-size: 20px;
}

.offer ul li {
    font-size: 25px;
}

#aboutus p {
    font-size: 25px;
}

/* Media Query for form (max-width: 580px) */

@media (max-width: 580px) {
    .navbar ul li {
        display: inline-block;
        margin: 10px 20px;
    }
    .navbar ul li a {
        font-size: 15px;
    }
    .btn {
        font-size: 10px;
    }
    .maindiv h1 {
        font-size: 30px;
    }
    #offerhead {
        font-size: 35px;
    }
    .offer {
        padding: 5px;
    }
    .offer h2 {
        font-size: 30px;
    }
    .offer span {
        font-size: 25px;
    }
    .offer ul li {
        font-size: 20px;
    }
    #aboutus p {
        font-size: 20px;
        padding: 5px 10px;
    }
    #contactus form input, textarea {
        width: 90%;
        font-size: 10px;
    }
    #frm .gnrdiv label {
        font-size: 15px;
        display: inline-block;
    }
    #contactus h1 {
        font-size: 30px;
    }
    #contactus span {
        font-size: 15px;
    }
    footer {
        font-size: 10px;
    }
}