.mainsection {
    max-width: 80vw;
}

.bar {
    flex-direction: column;
    max-width: 80vw;
}

nav .navbar {
    justify-content: space-around;
    margin-top: 5px;
    flex-wrap: wrap;
}

nav .navbar ul li {
    margin: 0px 10px;
}

nav .navbar ul li a {
    font-size: 17px;
}

.skill {
    flex-direction: column;
    max-width: 80vw;
}

.skill p {
    margin: 5px auto;
    max-width: 80vw;
}

.skill .skillheads {
    align-items: center;
    text-align: center;
}

.skill .skillheads span {
    margin-top: 7px;
}

.aboutme p {
    max-width: 80vw;
    line-height: 27px;
}

.contactme form {
    min-width: 50vw;
}

@media (max-width:755px) {
    .mainsection {
        max-width: 90vw;
    }
    .bar {
        max-width: 90vw;
    }
    .mainsection p {
        margin-top: 10px;
    }
    .skill {
        max-width: 90vw;
    }
    .skill p {
        max-width: 90vw;
    }
    .aboutme p {
        max-width: 90vw;
    }
}