/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

/* Navigation Bar */

header {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 60vw;
    margin: auto;
}

nav .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .left span {
    font-size: calc(20px + 1.63vw);
    font-weight: bold;
    color: white;
}

nav .left span:hover {
    text-shadow: 0px 0px 7px white;
    transition-duration: 0.3s;
}

nav .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .navbar ul li {
    display: inline-block;
    margin: 0px 25px;
}

nav .navbar ul li a {
    font-size: calc(16px + 0.6vw);
    font-family: 'Raleway', sans-serif;
    color: white;
}

nav .navbar ul li a:hover, nav .navbar ul li a:active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/* Main Section */

.mainsection {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60vw;
    min-height: 95vh;
}

.mainsection span {
    margin-top: 30px;
}

.mainsection h1 {
    text-align: left;
    color: white;
}

.mainsection p {
    text-align: justify;
    font-size: calc(16px + 0.27vw);
    font-family: 'Ubuntu', sans-serif;
    opacity: 0.5;
}

.mainsection a {
    border-bottom: 1px solid rgb(142, 142, 255);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    transition: all 250ms linear;
}

.mainsection a:hover {
    padding-left: 10px;
}

#greet {
    font-size: calc(20px + 0.66vw);
    font-family: Arial, Helvetica, sans-serif;
}

#name {
    font-size: calc(60px + 2.28vw);
    font-family: 'Lato', sans-serif;
}

#name::after {
    content: ".";
    color: blueviolet;
    font-size: calc(60px + 2.28vw);
    font-family: 'Lato', sans-serif;
}

.mainsection p {
    color: white;
}

/* Skill */

#sec1 {
    padding-top: 60px;
}

.skill {
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row;
    min-height: 40vh;
    max-width: 60vw;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.skill .skillheads {
    display: flex;
    flex-direction: column;
}

.skill .skillheads span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px + 0.33vw);
    margin: 0px 5px;
    font-weight: bold;
    color: rgb(142, 142, 255);
}

.skill .skillheads h2 {
    margin: 20px 5px;
    font-size: calc(25px + 1vw);
    font-family: 'Lato', sans-serif;
}

.skill p {
    font-size: calc(15px + 0.2vw);
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;
    max-width: 60vw;
    margin-left: 50px;
    line-height: 27px;
    opacity: 0.8;
}

/* About Me */

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    padding-top: 50px;
}

.aboutme h1 {
    text-align: center;
    font-size: calc(25px + 1vw);
    font-family: 'Lato', sans-serif;
    margin: 10px;
    color: rgb(142, 142, 255);
    text-decoration: underline;
}

.aboutme p {
    text-align: justify;
    max-width: 60vw;
    font-size: calc(15px + 0.2vw);
    font-family: 'Ubuntu', sans-serif;
    line-height: 30px;
    color: white;
    opacity: 0.8;
}

/* Contact Me */

.contactme {
    display: flex;
    flex-direction: column;
    background-image: url('https://img.freepik.com/free-photo/contact-us-business-icon-computer-keyboard-with-globe_117856-2468.jpg?size=626&ext=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    margin: 5px 0px;
    padding: 5px;
}

.contactme h1 {
    text-align: center;
    font-size: calc(25px + 1vw);
    font-family: 'Lato', sans-serif;
    margin: 10px;
    color: rgb(142, 142, 255);
    text-decoration: underline;
}

.contactme form {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
}

.contactme form input {
    border: none;
    display: inline-block;
    font-size: calc(16px + 0.27vw);
    font-family: cursive;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.contactme form input:hover {
    background-color: ghostwhite;
}

.contactme form input:active {
    background-color: whitesmoke;
}

.contactme form .gndr {
    font-size: calc(16px + 0.27vw);
    font-family: cursive;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.btn {
    font-size: calc(10px + 0.27vw);
    padding: 10px;
    margin: 5px;
    font-family: cursive;
    border-radius: 15px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.btn:hover, .btn:active {
    background-color: rgb(30, 30, 30);
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

footer span {
    color: white;
    margin: 3px 0px;
    font-size: calc(10px + 0.5vw);
}